.projectDiv {
    height: 100vh;
    padding-top:70px;
    margin-bottom: 150px;
}

.projectHeader{
    padding-bottom:8px;
    color:white;
    text-decoration: underline;
}

.cruiseAmerica-link {
    margin-bottom: 20px
}

.cryptosis-link {
    margin-bottom: 23px
}