.avatar {
    max-width: 25%;
    margin: 0 auto;
    border-radius: 150px;
    padding: 15px;
}

.homeHeader {
    font-family: 'Unbounded', cursive;
}

.homePageDiv {
    height: 100vh;
    background-size: cover;
    margin-top: 50px;
}

.navTop  {
    margin-bottom: 20px;
}

