.avatar {
    max-width: 25%;
    margin: 0 auto;
    border-radius: 150px;
    padding: 15px;
}

.homeHeader {
    font-family: 'Unbounded', cursive;
}

.homePageDiv {
    height: 100vh;
    background-size: cover;
}

.navTop  {
    margin-bottom: 20px;
}

.aboutDescription {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
