
@media (min-width: 850px){
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.about-me-description{
  width: 80%;
  display:block;
  margin: 0 auto;
  margin-top:20px;
  font-size: 25px;
  padding-bottom: 20px;
}

.content-container {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

.letters {
    font-size: 45px;
}

.animation-container {
  text-align: center;
  margin-bottom: auto;
  white-space:break-spaces;
}

.ml1 .letter {
  display: inline-block;
  line-height: 2em;
  color: white;
  }
  
.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ffffff;
  transform-origin: 0 0;
}
.ml11 {
  font-weight: 700;
  font-size: 2em;
  color:white;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
}

@media (max-width: 849px) {
.about-me-description{
  font-size: 11px;
  padding: 2%;
}

.ml1 .letter {
display: inline-block;
line-height: 2em;
color: white;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  transform-origin: 0 0;
}

.footerDiv{
    padding-top: 500px; 
  }

.animation-container {
  text-align: center;
  margin-bottom: auto;
  white-space:break-spaces;
}

.letters {
  font-size: 15px;
  white-space: nowrap;
}
.ml11 {
  font-weight: 700;
  font-size: 2em;
  color:white;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
}