body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: visible; */
  overflow-x: hidden;
}

f

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 600px) {
  .card .card-body .card-text {
    font-size:10px;
  }

.footerDiv{
    padding-top: 500px; 
  }
}