
@media (min-width: 800px){
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: visible; */
  overflow-x: hidden;
}

.about-me-description{
  width: 80%;
  display:block;
  margin: 0 auto;
  margin-top:20px;
  font-size: 25px;
  padding-bottom: 20px;
}

.content-container {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

.letters {
    font-size: 30px;
}

.animation-container {
  text-align: center;
  margin-bottom: auto;
  white-space:break-spaces;
}
}

@media (max-width: 799px) {
.about-me-description{
  font-size: 15px;
  padding: 2%;
}

.footerDiv{
    padding-top: 500px; 
  }

.animation-container {
  text-align: center;
  margin-bottom: auto;
  white-space:break-spaces;
}

.letters {
  font-size: 20px;
  white-space: nowrap;
}
}